@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  padding: 0 20px;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 20px;
}

.col-xs-3 {
  flex: 0 0 25.0%;
  max-width: 25.0%;
  padding: 0 20px;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 20px;
}

.col-xs-5 {
  flex: 0 0 41.66666%;
  max-width: 41.66666%;
  padding: 0 20px;
}

.col-xs-6 {
  flex: 0 0 50.0%;
  max-width: 50.0%;
  padding: 0 20px;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 20px;
}

.col-xs-8 {
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
  padding: 0 20px;
}

.col-xs-9 {
  flex: 0 0 75.0%;
  max-width: 75.0%;
  padding: 0 20px;
}

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 20px;
}

.col-xs-11 {
  flex: 0 0 91.66666%;
  max-width: 91.66666%;
  padding: 0 20px;
}

.col-xs-12 {
  flex: 0 0 100.0%;
  max-width: 100.0%;
  padding: 0 20px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-sm-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-sm-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-sm-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-sm-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-sm-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-sm-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-sm-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-md-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-md-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-md-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-md-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-md-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-md-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-md-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-lg-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-lg-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-lg-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-lg-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-lg-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-lg-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-lg-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-xl-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-xl-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-xl-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-xl-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-xl-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-xl-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-xl-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1120px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
}

/* small phones grid*/
@media (max-width: 360px) {
  .col-exs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-exs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-exs-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-exs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-exs-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-exs-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-exs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-exs-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-exs-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-exs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-exs-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-exs-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "FuturaPT", sans-serif;
  color: #ffffff;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #282834;
  color: #ffffff;
  font-family: "FuturaPT", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}

.app__title {
  font-size: 62px;
  font-size: calc(32px + (62 - 32) * ((100vw - 300px) / (1900 - 300)));
  font-weight: 500;
  line-height: 1.07;
  text-align: center;
  margin: auto auto 16px auto;
}
/*# sourceMappingURL=main.css.map */