@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Frightmare";
  font-display: swap;
  src: url("../fonts/Frightmare.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  padding: 0 20px;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 20px;
}

.col-xs-3 {
  flex: 0 0 25.0%;
  max-width: 25.0%;
  padding: 0 20px;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 20px;
}

.col-xs-5 {
  flex: 0 0 41.66666%;
  max-width: 41.66666%;
  padding: 0 20px;
}

.col-xs-6 {
  flex: 0 0 50.0%;
  max-width: 50.0%;
  padding: 0 20px;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 20px;
}

.col-xs-8 {
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
  padding: 0 20px;
}

.col-xs-9 {
  flex: 0 0 75.0%;
  max-width: 75.0%;
  padding: 0 20px;
}

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 20px;
}

.col-xs-11 {
  flex: 0 0 91.66666%;
  max-width: 91.66666%;
  padding: 0 20px;
}

.col-xs-12 {
  flex: 0 0 100.0%;
  max-width: 100.0%;
  padding: 0 20px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-sm-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-sm-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-sm-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-sm-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-sm-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-sm-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-sm-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-md-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-md-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-md-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-md-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-md-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-md-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-md-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-lg-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-lg-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-lg-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-lg-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-lg-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-lg-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-lg-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-xl-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-xl-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-xl-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-xl-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-xl-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-xl-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-xl-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1120px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
}

/* small phones grid*/
@media (max-width: 360px) {
  .col-exs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 20px;
  }
  .col-exs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 20px;
  }
  .col-exs-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 20px;
  }
  .col-exs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 20px;
  }
  .col-exs-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 20px;
  }
  .col-exs-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 20px;
  }
  .col-exs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 20px;
  }
  .col-exs-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 20px;
  }
  .col-exs-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 20px;
  }
  .col-exs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 20px;
  }
  .col-exs-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 20px;
  }
  .col-exs-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 20px;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESET STYLES */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "FuturaPT", sans-serif;
  color: #ffffff;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #282834;
  color: #ffffff;
  font-family: "FuturaPT", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.text-center {
  text-align: center;
}

.app__title {
  font-size: 62px;
  font-size: calc(32px + (62 - 32) * ((100vw - 300px) / (1900 - 300)));
  font-weight: 500;
  line-height: 1.07;
  text-align: center;
  margin: auto auto 16px auto;
}

/* SLIDER VENDOR STYLES*/
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev i:before,
.swiper-button-next i:before {
  color: #EC8F79;
  font-size: 22px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
  --swiper-navigation-color: #ffffff;
}

.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
  --swiper-navigation-color: #000000;
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 100%;
  background: rgba(250, 107, 3, 0.35);
  margin: 0 6px;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #FDAB5C;
  position: relative;
}

.swiper-pagination-bullet-active:before {
  border: 1px solid #F39970;
  position: absolute;
  content: '';
  border-radius: 100%;
  width: 15px;
  height: 15px;
  left: -4px;
  top: -4px;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}
/*# sourceMappingURL=main.css.map */